$blaze-orange: #fd6100;
$wisteria: #ab4cae;
$cornflower-blue: #5862f8;
$fun-green: #008b45;
$light-gray: #d7dae2;
$faded-gray: #f5f5fa;
$santas-gray: #a3a6b4;
$blue: #3b86ff;
$black: #4d4f5c;
$whisper: #f0eef7;
$white: #fff;
$catskill-white: #eaf0f4;
$dodger-blue: #565dff;
$alto: #d6d6d6;
$bittersweet: #ff5f5f;
$kimberly: #6a6996;
