$blaze-orange: #fd6100;
$wisteria: #ab4cae;
$cornflower-blue: #5862f8;
$fun-green: #008b45;
$light-gray: #d7dae2;
$faded-gray: #f5f5fa;
$santas-gray: #a3a6b4;
$blue: #3b86ff;
$black: #4d4f5c;
$whisper: #f0eef7;
$white: #fff;
$catskill-white: #eaf0f4;
$dodger-blue: #565dff;
$alto: #d6d6d6;
$bittersweet: #ff5f5f;
$kimberly: #6a6996;

$accent: #ff7439;
$bg: #f0f6fc;
$text-dark: #000;
$main-light: #fff;
$gray: #586375;
$light-gray: #677489;
$secondary-bg: rgba(203, 215, 228, 0.4);

$colors :  rgba(86,204,242,1), rgba(252,201,29,1),
  rgba(21,216,80,1), rgba(243,99,99,1);
$transparent-colors :  rgba(86,204,242,0.2), rgba(252,201,29,0.2),
  rgba(21,216,80,0.2), rgba(243,99,99,0.2);

$top-position:  72px, 77px, 480px, 283px, 518px, 320px,
  270px, 109px, 400px, 513px, 385px, 90px;
$left-position: 22%,  32%, 34%, 10%, 15%, 23%, 86%, 84%, 80%, 62%, 68%, 70%;
