@import "colors.scss";

.select-container {
  width: 100%;
  position: relative;
}

.select-button {
  padding: 10px;
  width: 100%;
  border: 1px solid $alto;
  border-radius: 4px;
  color: $alto;
  text-align: left;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.border-error {
  border: 1px solid $bittersweet;
}

.select-options {
  width: 100%;
  max-height: 204px;
  overflow: hidden;
  border: 1px solid $alto;
  border-radius: 4px;
  position: absolute;
  left: 0;
  z-index: 2;
  background: $white;
}

.option {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 12px;
  cursor: pointer;
  color: $black;

  &:focus {
    outline: none;
  }

  &:hover {
    background: $faded-gray;
  }
}

.color-indicator {
  width: 12px;
  height: 12px;
  border-radius: 4px;
  display: inline-block;
  margin-right: 3px;
}

.text-bold {
  font-weight: 700;
}

.text-black {
  color: $black;
}
