@import "../../styles/colors.scss";

.modal {
  &__wrapper {
    position: absolute;
    background: $main-light;
    border-radius: 10px;
    border: 1px solid $black;
    box-shadow: 0 3px 18px $light-gray;
    z-index: 100;
    max-width: 200px;
    padding: 22px 25px 35px;

    &::before {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border: 9px solid transparent;
      border-bottom: 11px solid $black;
    }
  }

  &__close {
    background: transparent;
    font-size: 15px;
    border: none;
    position: absolute;
    right: 6px;
    padding: 0;
    top: 7px;
    color: #d6d6d6;
    transition: color 0.3s ease-in-out;

    &:hover::before {
      color: $accent;
    }

  }
}
